@font-face {
  font-family: Gilroy;
  src: url(./resources/fonts/gilroy/Gilroy-Light.ttf);
}

body {
  margin: 0;
  font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(1, 1, 1) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
